<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives: </b>
<ul>
    <li>Popular languages that Data Scientists use</li>
    <li>Common libraries that Data Scientists use</li>
    <li>List of Data Science tools</li>
    <li>Evaluating Arithmetic Expressions in Python</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
    <li>Python</li>
    <li>SQL</li>
    <li>R</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li>Pandas</li>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Seaborn</li>
</ol>

<table>
    <tr>
        <th>Data Science Tools</th>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>Apache Spark</td>
    </tr>
    <tr>
        <td>R Studio</td>
    </tr>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
#This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60.
import math

def convert_min_to_hours(minutes):
  return math.floor(minutes / 60)

hours = convert_min_to_hours(200)

print(hours)

3

## Author
Juthy Shaji